<%- include('./header.ejs') %>
<div class="abcontai mb-4" style="height: 400px;padding-top: 160px;">
  <h1 class="text-center text-white" style="font-size:48px">About Us</h1>
  <img src="./Images/slider-bottom-pattern.png" alt="/">

</div>
<br/>
<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
      <div class="col-6">
         <h1 style="color:#043577">We Build Everything</h1>
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas optio esse veniam atque qui sapiente veritatis nisi in assumenda. Deleniti, dolores fuga aliquam nam doloribus voluptates veniam a. Vel, praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, animi! Sapiente non optio ipsum quidem esse quis? Quisquam eum deleniti, cupiditate quasi dicta nostrum maiores corrupti soluta saepe animi temporibus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, aliquid quae. Non cupiditate quos quo nam nobis quibusdam eaque, nostrum sit fugit deserunt vel aliquid quidem delectus beatae consequuntur optio.</p>
      </div>
      <div class="col-6">

      </div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<center>
  <h1 class="fw-bold mb-5" style="color: #043577;">
    Facilities We Provide
  </h1>
</center>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center p-4">
      <div class="card d-flex flex-column justify-content-center align-items-center pt-4" style="width: 18rem;">
        <img class="card-img-top updt" src="./Images/cous.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Courses</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center p-4">
      <div class="card d-flex flex-column justify-content-center align-items-center pt-4" style="width: 18rem;">
        <img class="card-img-top" src="./Images/pb.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Public Speaking</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center p-4">
      <div class="card d-flex flex-column justify-content-center align-items-center pt-4" style="width: 18rem;">
        <img class="card-img-top" src="./Images/lb.png" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Library</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center p-4">
      <div class="card justify-content-center align-items-center pt-4" style="width: 18rem;">
        <img class="card-img-top" src="./Images/runi.jpeg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Sports</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center p-4">
      <div class="card d-flex justify-content-center align-items-center pt-4" style="width: 18rem;">
        <img class="card-img-top" src="./Images/sh.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Workshop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center p-4">
      <div class="card d-flex flex-column justify-content-center align-items-center pt-4" style="width: 18rem;">
        <img class="card-img-top updt" src="./Images/cous.png" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">course</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<%- include('./footer.ejs') %>