<section id="navbar" class="fixed-top">
            <nav class="navbar navbar-expand-lg bg-body-tertiary rounded bg bg-dark" aria-label="Thirteenth navbar example">
                <div class="container-fluid">
                    <button class="navbar-toggler mobileViewButton" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="true"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="navbar-collapse d-lg-flex collapse justify-content-between text-center"
                        id="navbarsExample11">
                        <a class="navbar-brand col-lg-3 me-0 webViewPosition" href="#">
                            <img class="rounded-circle" src="/Images/logo.jpeg" alt="logo" width="50px" height="50px">
                        </a>
                        <ul class="navbar-nav col-lg-6 justify-content-lg-end">
                            <li class="nav-item my-auto">
                                <a class="nav-link active text-white" aria-current="page" href="/home">HOME</a>
                            </li>
                            <li class="nav-item my-auto">
                                <a class="nav-link text-white" href="/about">ABOUT</a>
                            </li>
                            <li class="nav-item my-auto">
                                <a class="nav-link text-white" href="/contact">CONTACT</a>
                            </li>
                            <li class="nav-item my-auto">
                                <a class="nav-link text-white" href="#"><%= n %></a>
                            </li>
                            <li class="nav-item dropdown my-auto">
                                <a href="#"
                                    class="nav-link d-block link-body-emphasis text-decoration-none dropdown-toggle text-light"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="<%= i.url %>" alt="mdo" width="40" height="40"
                                        class="rounded-circle">
                                </a>
                                <ul class="dropdown-menu text-small">
                                     
                                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                     
                                </ul>
                            </li>
                            <li class="nav-item my-auto">
                                <a href="/logout" class="btn me-3 border-light bg-light">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            </section>

    <% } else {%>
         
    <section id="navbar" class="fixed-top" style="background-color:#1d91d4;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary rounded bg bg-dark" aria-label="Thirteenth navbar example">
            <div class="container-fluid">
                <button class="navbar-toggler mobileViewButton" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse d-lg-flex collapse justify-content-between text-center"
                    id="navbarsExample11">
                    <a class="navbar-brand col-lg-3 me-0 webViewPosition" href="#">
                        <img class="rounded-circle" src="/Images/logo.jpeg" alt="logo" width="50px" height="50px">
                    </a>
                    <ul class="navbar-nav col-lg-6 justify-content-lg-end">
                        <li class="nav-item my-auto">
                            <a class="nav-link active text-white" aria-current="page" href="/home">HOME</a>
                        </li>
                        <li class="nav-item my-auto">
                            <a class="nav-link text-white" href="/about">ABOUT</a>
                        </li>
                        <li class="nav-item my-auto">
                            <a class="nav-link text-white" href="/contact">CONTACT</a>
                        </li>
                        <li class="nav-item my-auto">
                            <a class="nav-link text-white" href="#"><%= n %></a>
                        </li>
                        <li class="nav-item dropdown my-auto">
                            <a href="#"
                                class="nav-link d-block link-body-emphasis text-decoration-none dropdown-toggle text-light"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="<%= i.url %>" alt="mdo" width="40" height="40"
                                    class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small">
                                 
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                 
                            </ul>
                        </li>
                        <li class="nav-item my-auto">
                            <a href="/logout" class="btn me-3 border-light bg-light">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </section>
    <% } %>
 